body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* HEADER */

.header-site {
  background: #ffffff;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-web {
  color: #2196f3;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

/* HERO */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background: #2f303a;
}

.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* Кнопки фильтра в портфолио */

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* Особенности */

.specifics-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.specifics-item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Чем мы занимаемся */

.about-title,
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* Команда */

/* .team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
} */

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Примеры работ */

.examples-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Подвал */

.footer-site {
  background: #2f303a;
}
.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.link-address {
  color: #ffffff;
}

.footer-item-address:hover,
.footer-item-address:focus,
.footer-item:hover,
.footer-item:focus {
  color: #2196f3;
}
